[run]
branch = True
include =
        ./*
omit =
        *tests*
        *__init__*
        *venv*
        .dockerignore
        README.md
        TestRunner.py
        exper.py
        setup.py
        requirements.txt

[report]
exclude_lines =
        pragma: no cover
        if __name__ == .__main__.:
[html]
directory = coverage_html_report
